In [1]:
import pandas as pd

In [2]:
def parse_rank(x):
    try:
        int(x)
        return int(x)
    except ValueError:
        return int(x[1:len(x)])

In [3]:
col_names = {
    'RANK THIS WEEK' : 'cur_rank',
    'RANK LAST WEEK' : 'prior_rank',
    'PLAYER NAME' : 'player_name',
    'ROUNDS' : 'rounds',
    'AVG' : 'scoring_avg',
    'TOTAL STROKES' : 'total_strokes',
    'TOTAL ADJUSTMENT' : 'total_adjustment',
    'TOTAL ROUNDS' : 'total_rounds'
}

scoring_avg = (
    pd.read_html('http://www.pgatour.com/stats/stat.120.html', match='RANK')[0]
    .rename(columns=col_names)
    .set_index('player_name')
    .assign(cur_rank=lambda x: x.cur_rank.apply(parse_rank))
    .assign(prior_rank=lambda x: x.prior_rank.apply(parse_rank))
)
scoring_avg.head()

,cur_rank,prior_rank,rounds,scoring_avg,total_strokes,total_adjustment,total_rounds
player_name,,,,,,,
Hideki Matsuyama,1,1,8,67.524,533,7.191,8
Henrik Stenson,2,2,4,68.096,272,0.384,4
Rory McIlroy,3,3,4,68.346,273,0.384,4
Francesco Molinari,4,4,8,68.508,542,6.065,8
Rickie Fowler,5,5,4,68.596,274,0.384,4

In [4]:
scoring_avg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 230 entries, Hideki Matsuyama to Steven Bowditch
Data columns (total 7 columns):
cur_rank            230 non-null int64
prior_rank          230 non-null int64
rounds              230 non-null int64
scoring_avg         230 non-null float64
total_strokes       230 non-null int64
total_adjustment    230 non-null float64
total_rounds        230 non-null int64
dtypes: float64(2), int64(5)
memory usage: 14.4+ KB

In [5]:
col_names = {
    'RANK THIS WEEK' : 'cur_rank',
    'RANK LAST WEEK' : 'prior_rank',
    'PLAYER NAME' : 'player_name',
    'ROUNDS' : 'rounds',
    'AVG.' : 'average_drive',
    'TOTAL DISTANCE' : 'total_distance',
    'TOTAL DRIVES' : 'total_drives'
}

driving_distance = (
    pd.read_html('http://www.pgatour.com/stats/stat.101.html', match='RANK')[0]
    .rename(columns=col_names)
    .set_index('player_name')
    .assign(cur_rank=lambda x: x.cur_rank.apply(parse_rank))
    .assign(prior_rank=lambda x: x.prior_rank.apply(parse_rank))
)
driving_distance.head()

,cur_rank,prior_rank,rounds,average_drive,total_distance,total_drives
player_name,,,,,,
Jimmy Walker,1,1,6,335.8,1343,4
Smylie Kaufman,2,2,10,326.6,3919,12
Luke List,3,3,20,320.5,12819,40
Grayson Murray,4,4,8,319.6,5114,16
Brandon Hagy,5,5,10,315.1,6301,20

In [6]:
driving_distance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 228 entries, Jimmy Walker to Colt Knost
Data columns (total 6 columns):
cur_rank          228 non-null int64
prior_rank        228 non-null int64
rounds            228 non-null int64
average_drive     228 non-null float64
total_distance    228 non-null int64
total_drives      228 non-null int64
dtypes: float64(1), int64(5)
memory usage: 12.5+ KB

In [7]:
col_names = {
    'RANK THIS WEEK' : 'cur_rank',
    'RANK LAST WEEK' : 'prior_rank',
    'PLAYER NAME' : 'player_name',
    'ROUNDS' : 'rounds',
    'AVERAGE' : 'avg_sg_putting',
    'TOTAL SG:PUTTING' : 'total_sg_putting',
    'MEASURED ROUNDS' : 'rounds_measured'
}

sg_putting = (
    pd.read_html('http://www.pgatour.com/stats/stat.02564.html', match='RANK')[0]
    .rename(columns=col_names)
    .set_index('player_name')
    .assign(cur_rank=lambda x: x.cur_rank.apply(parse_rank))
    .assign(prior_rank=lambda x: x.prior_rank.apply(parse_rank))
)
sg_putting.head()

,cur_rank,prior_rank,rounds,avg_sg_putting,total_sg_putting,rounds_measured
player_name,,,,,,
Luke Donald,1,1,6,2.724,8.171,3
Patton Kizzire,2,2,10,1.866,16.798,9
Michael Kim,3,3,14,1.675,18.421,11
Ryan Moore,4,4,12,1.636,6.543,4
Cody Gribble,5,5,18,1.506,19.583,13

In [21]:
col_names = {
    'Name' : 'player_name',
    'Salary' : 'salary'
}

salaries = (
    pd.read_csv('DKSalaries.csv')
    .rename(columns=col_names)
    .set_index('player_name')
)
salaries.salary.head()

player_name
Jordan Spieth       11500
Dustin Johnson      11200
Hideki Matsuyama    11000
Jason Day           10600
Rory McIlroy         9900
Name: salary, dtype: int64

In [23]:
result = (
    pd.DataFrame(scoring_avg[['rounds','scoring_avg']])
    .join(driving_distance['average_drive'])
    .join(sg_putting['avg_sg_putting'])
    #.join(salaries['salary'])
)
result.head(25)

                    rounds  scoring_avg  average_drive  avg_sg_putting
player_name
Hideki Matsuyama         8       67.524            NaN             NaN
Henrik Stenson           4       68.096            NaN             NaN
Rory McIlroy             4       68.346            NaN             NaN
Francesco Molinari       8       68.508          302.4           0.316
Rickie Fowler            4       68.596            NaN             NaN
Bill Haas               12       69.135          283.1           0.284
Russell Knox            12       69.192          283.8             NaN
Pat Perez               12       69.217          301.0           0.274
Anirban Lahiri          12       69.295          286.3          -0.438
Luke List               20       69.314          320.5           0.849
Lucas Glover            14       69.365          301.9          -0.038
Billy Horschel          10       69.377          296.9           1.123
Stewart Cink            14       69.400          302.6           0.360
Camilo Villegas         12       69.530          289.7           0.617
Martin Laird            12       69.588          297.9           0.252
Marc Leishman            8       69.615          278.5             NaN
Justin Thomas           12       69.620          304.1           0.765
Keegan Bradley          16       69.679          298.7          -0.091
Jim Furyk                6       69.681          265.4           0.509
Andres Romero            8       69.702          301.4           1.173
Russell Henley          14       69.767          297.5           0.540
Phil Mickelson           4       69.814          280.6           0.837
Chris Kirk              18       69.864          292.9           0.992
Whee Kim                12       69.874          291.7           1.278
Sergio Garcia            8       69.899            NaN             NaN